<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cbergoon.restic_backup_local</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/restic_backup.sh</string>
        <string>**/REPO/PATH**</string>
        <string>**PASSWORD**</string>
    </array>
    <key>StartInterval</key>
    <integer>240</integer>
</dict>
</plist>